/*
  Elements
*/

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

header {
  padding: 1.5rem 0;
}

main {
  margin: 1rem;
}

h1 {
  font-size: 2rem;

  margin: 0.75rem 1rem;
}

h2 {
  font-size: 1.6rem;

  margin: 0.5rem 1rem;
}

h3 {
  font-size: 1.4rem;
}

h5 {
  color: #f54996;
}

p {
  font-size: 1rem;
  padding: 0.25rem 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #f54996;
  text-decoration: none;
}

a:hover {
  color: #f54996;
  text-decoration: none;
  border-bottom: 2px solid #f54996;
}

/*
  Classes
*/

.navbar {
  background: black;
  color: #fff;

  /* Example here: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  font-size: 1.2rem;

  padding: 1rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline;
  padding-right: 0.5rem;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  border: 0;
  color: #f54996;
}

.navbar .active a {
  border-bottom: 2px solid #f54996;
  width: fit-content;
}

.footer {
  background: #f54996;
  color: #fff;
  font-size: 1.2rem;

  padding: 1rem;
}

.footer a {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.footer a:hover {
  border-color: black;
}

.color-secondary {
  color: #f54996;
}

.project {
  width: 100%;
}

.project-wrapper {
  padding: 1rem;
}

/*
  Bootstrap Overriding
*/
.btn-primary {
  background-color: #f54996;
  border-color: #f54996;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: black;
  border: 1px solid #f54996;
}

.icon-bar {
  width: 33px;
  height: 4px;
  display: block;
  background: white;
  border-radius: 3px;
  margin-bottom: 5px;
}

/* 
  Desktop Media Queries
*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
